{% comment %}
  Unified awards entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% capture start_date %}
          {% if entry.date %}{{ entry.date }}{% endif %}
        {% endcapture %}

        {% if start_date != '' %}
          <div class="col-xs-3 col-sm-3 col-md-3 text-center date-column">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle">
                      {{- start_date | split: '-' | slice: 0, 1 | join: '' -}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 mt-2 mt-md-0">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}">{{ entry.name }}</a>
              </h6>
            {% elsif entry.name %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.name }}</h6>
            {% endif %}

            {% if entry.awarder %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ entry.awarder }}</h6>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}">{{ entry.name }}</a>
              </h6>
            {% elsif entry.name %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.name }}</h6>
            {% endif %}

            {% if entry.awarder %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ entry.awarder }}</h6>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
